@model IEnumerable<OpenQbit.Hospital.Common.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DoctorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DoctorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DoctorID })
        </td>
    </tr>
}

</table>
